<!-- <input type="text" [(ngModel)]="queryString"  id="search" placeholder="Search to type"> -->
<textarea class="form-control h50 label" type="search" id="form1" rows="1" placeholder="Search..." 
[formControl]="queryFormControl"(input)="onInput($event)" (keyup)="onKeyUp($event)"
(keydown)="onKeyDown($event)" (focus)="onSearchFocus()" (blur)="onSearchBlur($event)"> </textarea>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <ul>
    <li *ngFor="let n of list | advanceFilter: queryFormControl.value: searchableList">
      {{n.name}} ({{n.age}})
    </li>
  </ul>


  <!-- <li *ngFor="let n of list | advanceFilter: queryString : searchableList "> -->
