<div class="input-keyword-label">{{inputKeywordLabel}}</div>
<textarea class="form-control h50 label" type="search" id="form1" rows="1" placeholder="Search..." 
[formControl]="queryFormControl" (input)="onInput($event)" (keyup)="onKeyUp($event)"
(keydown)="onKeyDown($event)" (focus)="onSearchFocus()" (blur)="onSearchBlur($event)"> </textarea>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <ul>
    <ng-container *ngIf="isAdvance">
      <li *ngFor="let n of list | advanceFilter: queryFormControl.value: searchableList">
        {{n.name}} ({{n.age}})
      </li>
    </ng-container>
    <ng-container *ngIf="!isAdvance">
      <li *ngFor="let n of list | filterAll: queryFormControl.value">
        {{n.name}} ({{n.age}})
      </li>
    </ng-container>

  </ul>


