@import './../theme/base.scss';

      .form-control {
        position: relative;
        background-color: transparent;
        transition: none;
        border: 1px solid $color-dark-blue-12;
        border-radius: 8px;
        // resize: none;
        overflow: hidden;

        &.label {
        letter-spacing: 0px;
        opacity: 1;
        padding-left: $padding-16;
         font-weight: $font-weight-normal;
         line-height: $line-height-xx-small;
        }

        &:focus {
        outline: none;
        border: 1px solid $color-dark-blue-12;
        box-shadow: none;
        border-radius: 8px;
        box-sizing: border-box;
        }
           &::-webkit-input-placeholder {
          font-family: $nv-font;
          font: normal normal medium 14px/17px;
          color: $color-dark-gray-30;
          opacity: 1;
          }
          &:-moz-placeholder { 
          font-family: $nv-font;
          font: normal normal medium 14px/17px;
          color: $color-dark-gray-30;
          opacity: 1;
          }
          &::-moz-placeholder {
          font-family: $nv-font;
          font: normal normal medium 14px/17px;
          color: $color-dark-gray-30;
          opacity: 1;
          }

    }