@import './../theme/base.scss';

.container-fluid {
  padding: 0;
  margin: 0;
  border-bottom: 4px solid $color-dark-gray;

  .search-container {
    width: 100%;

    .search {
      width: 50%;
    }
  }

  .avatar-container {
    padding-right: 16px;
    padding-left: 24px;
  }

}
