<div class="container-fluid">
    <div class="d-flex flex-row-reverse">
        <div class=" order-3 mr-auto flex-row-reverse d-flex align-items-center nova-icon">
            <app-novatek-logo class="icon"></app-novatek-logo>
        </div>
        <div class="flex-grow-1 order-2 flex-row-reverse d-flex align-items-center search-container">
            <app-search class="search"></app-search>
        </div>
        <div class="float-right order-1 flex-row-reverse d-flex align-items-center avatar-container">
            <div class="avatar"></div>
        </div>
    </div>
</div>



