<div class="header">
  <app-nv-input
    class="text-color"
    [(sharedVar)]="name"
    [inputPlaceHolder]="placeholder"
    [label]="nameLabel"
  ></app-nv-input>

  <app-nv-input
    class="text-color"
    [(sharedVar)]="id"
    [inputPlaceHolder]="placeholder"
    [label]="idLabel"
  ></app-nv-input>
</div>

<div>
  <table class="my-table">
    <thead class="my-table headers">
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody class="my-table body">
      <tr *ngFor="let row of teams">
        <td>
          {{ row.name }}
        </td>
        <td>
          {{ row.id }}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div><app-nv-custom-table></app-nv-custom-table> </div> -->

<!-- <div class="table-scroll">
    <table class="data-table" mdbTable>
      <tr class="mat-header-row">
        <th class="mat-header-cell">
          <input
            class="table-check"
            type="checkbox"
            [checked]="isAllCheckBoxChecked()"
            (change)="checkAllCheckBox($event)"
          />
        </th>
        <th
          (click)="rowClicked($event)"
          *ngFor="let column of columns; let i = index"
          scope="col"
          
         
          class="mat-header-cell"
        >
          {{ column }}
          <span
            ><mat-icon
              class="img"
              *ngIf="sortColumn == column && sortPreference == 'ascending'"
              ><img
                src="../../../assets/icons/table-shorting.icon.svg"
                (click)="rowImgClicked($event)"
            /></mat-icon>
            <mat-icon
              class="img rotateimg180"
              *ngIf="sortColumn == column && sortPreference == 'descending'"
              ><img
                src="../../../assets/icons/table-shorting.icon.svg"
                (click)="rowImgClicked($event)" /></mat-icon
          ></span>
        </th>
      </tr>
      <ng-container  *ngFor="
      let order of teams        
      let i = index
    ">
      <tr
        class="mat-row"
        [ngClass]="{
          'status-gr': order.status === 'Completed',
          'status-rd': order.status === 'No',
          'status-yl': order.status === 'Pending'
        }"
        (click)="showExtendedRow(i)"
      >
        <td class="pd-lt-2 checkbox-column">
          <input
            class="table-check"
            type="checkbox"
            value="{{ order.id }}"
           
          />
        </td>
        <td>{{ order.name }}</td>
        <td>{{ order.id }}</td>
      </tr>
      <ng-container *ngIf="isRowVisibleAllowed(i)">
        <tr class="mat-row status-yl">
          <td class="pd-lt-2 checkbox-column">&nbsp;</td>
          <td>Name</td>
          <td>ID</td>
        </tr>
      </ng-container>
    </ng-container>
    </table>
 
  </div> -->
