<div class="{{'ngx-timepicker-field-container ' + fieldSize}}">
  <ngx-timepicker-field [format]="timeFormat" ></ngx-timepicker-field>
  <!-- <div class="ngx-timepicker-control-arrows">
      <img class="arrow-up" src="./../../../assets/icons/ico.arrow.up.svg">
      <div class="spacer"></div>
      <img class="arrow-down" src="./../../../assets/icons/ico.arrow.down.svg">
  </div>   -->
</div>

<!-- <div class="ngx-timepicker-field-container">
  <ngx-timepicker-field [format]="timeFormat" [defaultTime]="'23:11'"></ngx-timepicker-field>
</div> -->


