<div class="dropdown">

    <button *ngIf="!hasIcon && !isButton" type="button" class="btn dropdown-toggle body20 label" data-toggle="dropdown" [ngClass]="{'default': isFirst}"
      (click)="isArrowDown=!isArrowDown" (blur)="onBlur()">
      {{selectedItem | nvTrim: textTrimNumber}}
      <img *ngIf="isArrowDown" class="arrow-icon"  src="../../../assets/icons/ico.arrow.down.svg">
      <img *ngIf="!isArrowDown" class="arrow-icon" src="../../../assets/icons/ico.arrow.up.svg">
    </button>
    <img *ngIf="hasIcon && !isButton" class="dropdown-icon" data-toggle="dropdown"  src="./../../../assets/icons/plus-button.icon.svg">
    <button *ngIf="isButton && !hasIcon" type="button" class="btn dropdown-button body20 label" data-toggle="dropdown" 
      (click)="isArrowDown=!isArrowDown" (blur)="onBlur()">
      {{'Dropdown Button'}}
      <img *ngIf="isArrowDown"  class="arrow-icon"  src="../../../assets/icons/ico.arrow.down.svg">
      <img *ngIf="!isArrowDown" class="arrow-icon" src="../../../assets/icons/ico.arrow.up.svg">
    </button>

  <div class="dropdown-menu">
    <div class="dropdown-item body20" *ngFor="let item of items; let i = index" (click)="onItemSelect(i)"
      [ngClass]="{'selected-item': i==selectedIndex}"> {{item}}</div>
  </div>
</div>


