
<div #dropdown class="dropdown">
  <input #inputFieldRef  type="text" *ngIf="fieldType === dropDownFieldType.Input"
  class="btn dropdown-input body20 label" data-toggle="dropdown" [ngClass]="{'default': isDefaultStyle}"
  (click)="onFieldClick()" (blur)="onBlur()" [formControl]="queryFormControl"  nvStyleColor [styleType]="styleType" >
  <ng-container *ngIf="fieldType === dropDownFieldType.Input" [ngTemplateOutlet]="arrowTemplate" [ngTemplateOutletContext]="{isArrowDown:isArrowDownIcon}">
  </ng-container>
  <img #PlusIconRef *ngIf="(fieldType === dropDownFieldType.Icon) &&  !isFieldDisable" class="dropdown-icon" data-toggle="dropdown"
  src="./../../../assets/icons/plus-button.icon.svg" alt="The Plus Icon">
  <img #PlusIconRef *ngIf="(fieldType === dropDownFieldType.Icon) &&  isFieldDisable" class="dropdown-icon" data-toggle="dropdown"
  src="./../../../assets/icons/plus-button--disabled.icon.svg" alt="The Plus Icon">
  <button #ButtonRef *ngIf="fieldType === dropDownFieldType.Button" type="button" (click)="onFieldClick()"
    class="btn dropdown-button body20 label" data-toggle="dropdown" (blur)="onBlur()" nvStyleColor [styleType]="styleType">
    {{'Dropdown Button'}}
    <ng-container [ngTemplateOutlet]="arrowTemplate" [ngTemplateOutletContext]="{isArrowDown:isArrowDownIcon}">
    </ng-container>
  </button>
 
  <div #menu class="dropdown-menu" [ngClass]="{'display-menu': hideMenu}"
    [ngClass]=" (extensionDirection === menuExtensionDirection.ToLeft) ? 'dropdown-menu-right': '' ">
    <div class="dropdown-item body20" *ngFor="let item of filteredItems; let i = index" (click)="onItemSelect(i)"
      [ngClass]="{'selected-item': i==selectedIndex}"> {{item}}</div>
  </div>
</div>


<ng-template #arrowTemplate let-item="isArrowDown">
    <object #arrowDownRef *ngIf="isArrowDownIcon" class="arrow-icon" data="../../../assets/icons/ico.arrow.down.svg"
      type="image/svg+xml"></object>
    <object *ngIf="!isArrowDownIcon && !isFieldDisable" class="arrow-icon" data="../../../assets/icons/ico.arrow.up.svg"
      type="image/svg+xml"></object>
</ng-template>