@import './../theme/base.scss';

<<<<<<< HEAD

.container {
    .dropdown {
        width: 100%;
        min-width: 180px;
        &:hover {

        }
        .dropdown-toggle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 180px;


            &:after {

            }
        }
        .btn {
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
    .dropdown-menu {
        width: 100%;
        max-height: 100px;
        overflow: auto ;
    }
}

@media (min-width: 576px) {
.container {
    max-width: 540px;
}
=======
.container {
    .dropdown {
        .dropdown-toggle {
            &.btn {
                text-align: left;
            }
            &.body20 {
                
            }
            &.default {
                color:$color-dark-gray-30;
            }
            &:focus {
                box-shadow: none;
            }
            &::after {
                margin-left: 10px;

            }

        }

        .dropdown-menu {
            .dropdown-item {
                &.selected-item {
                    font-style: $font-style-normal;
                    font-weight: $font-weight-bold;
                    font-size: $font-size-small;
                    font-family: $nv-font;
                    line-height: $line-height-small;
                    color: $color-black-10;
                }
            }
        }
    }
>>>>>>> 3f32e0bd6ad07463790d90432801ad8035dd3004
}
