<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 right-section">
      <div class="login-txt">
        <h1 class="organiztion-intro">Welcome to the</h1>
        <h1 class="organization-txt">NOVATEK CLOUD SOLUTION</h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="login-card">
        <mat-card class="example-card">
          <mat-card-header>
            <app-novatek-logo class="novatek-logo-center"></app-novatek-logo>
            <mat-divider style="margin-top: 20%"></mat-divider>
          </mat-card-header>
          <mat-card-content>
            <div class="user-txt">
              <h1 style="font-weight: 500;"> User Login</h1>
            </div>
            <mat-divider style="margin-top: -2%; box-shadow: 0px 1px 2px;"></mat-divider>
            <div>
              <div class="form-group">
                <label for="name" class="control-label">UserName</label>
                <label for="forgotuser" class="control-label forgot-user">Forgot UserName</label>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
              </div>
              <div class="form-group">
                <label for="name" class="control-label">Site</label>
                <select class="form-control" id="exampleFormControlSelect1" placeholder="Username" >
                  <option>Site</option>
                  <option *ngFor='let state of states'>{{state.value}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="name" class="control-label">Domain</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Domain</option>
                  <option *ngFor='let user of Domain'>{{user.value}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf='showPassword'>
                <label for="name" class="control-label">Password</label>
                <label for="forgotuser" class="control-label forgot-user">Forgot Password</label>
                <input type="text" class="form-control" placeholder="Password" aria-label="Password">
              </div>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions align="end">
            <button *ngIf='!showPassword' class="nxt-btn" mat-raised-button (click)='askPassword()'>Next</button>
            <button *ngIf='showPassword' class="nxt-btn" mat-raised-button (click)='authenticateuser()'>Login</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>