<div class="container-fluid">
  <div class="row">
    <!-- Right Section -->
    <div class="col-md-8 right-section">
      <div class="login-txt">
        <h1 class="organiztion-intro">Welcome to the</h1>
        <h1 class="organization-txt">NOVATEK CLOUD SOLUTION</h1>
      </div>
    </div>
    <!-- Left Section -->
    <div class="col-md-4">
      <div class="login-card">
        <mat-card class="example-card">
          <mat-card-header>
            <app-novatek-logo class="novatek-logo-center"></app-novatek-logo>
            <mat-divider class="header-divider"></mat-divider>
          </mat-card-header>
          <mat-card-content>
            <div class="user-txt">
              <h1 class="user-txt-name"> User Login</h1>
            </div>
            <mat-divider class="body-divider"></mat-divider>
            <div class="login-items">
              <!-- User Name -->
              <div class="form-group">
                <label for="name" class="control-label label-weight">User Name</label>
                <label for="forgotuser" class="control-label forgot-user">Forgot User Name</label>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username">
              </div>
              <!-- Site -->
              <div class="form-group">
                <label for="name" class="control-label label-weight">Site</label>
                <select class="form-control" id="exampleFormControlSelect1" placeholder="Username">
                  <option>Select Site</option>
                  <option *ngFor='let state of states'>{{state.value}}</option>
                </select>
              </div>
              <!-- Domain -->
              <div class="form-group">
                <label for="name" class="control-label label-weight">Domain</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Select Domain</option>
                  <option *ngFor='let user of Domain'>{{user.value}}</option>
                </select>
              </div>
              <!-- Password -->
              <!-- Password is only visible when showpassword value is true -->
              <div class="form-group" *ngIf='showPassword'>
                <label for="name" class="control-label label-weight">Password</label>
                <label for="forgotuser" class="control-label forgot-user">Forgot Password</label>
                <input type="password" class="form-control" placeholder="Password" aria-label="Password">
              </div>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions align="end">
            <!-- Next button -->
            <button *ngIf='!showPassword' class="nxt-btn" mat-raised-button (click)='askPassword()'>Next</button>
            <!-- Login Button is only visible when showpassword value is true -->
            <button *ngIf='showPassword' class="nxt-btn" mat-raised-button (click)='authenticateuser()'>Login</button>
          </mat-card-actions>
        </mat-card>
      </div>      
      <nova-login-footer></nova-login-footer>
    </div>
  </div>
</div>
