@import "./../../reusable/theme/base.scss";

.right-section {
    height: 100vh;
    background-image: linear-gradient(160deg, #1f78b4, #004463);
}

.novatek-logo-center {
    margin: 0 auto;
    margin-top: $margin-25 !important;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
}

::ng-deep .mat-card {
    padding: 0px !important;
}

::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: -11px -9px 12px white, 10px 6px 21px 0px rgb(1 0 0 / 14%), -2px 3px 15px -6px white
}

.user-txt {
    margin-top: 7% !important;
}

.nxt-btn {
    margin: 10px 0 10px 0 !important;
    box-shadow: none !important;
    border: 1px solid #5D5D5D;
}

.nxt-btn:hover {
    color: #00000099;
    background-color: #c7c7c7 !important;
}

button:focus {
    outline: none !important;
}

.nxt-btn:active {
    color: #00000099;
    background-color: #f6f7f8 !important;
    border: #5D5D5D
}

select {
    background-image: linear-gradient(45deg, transparent 50%, #272626 60%), linear-gradient(135deg, #1f1d1d 40%, transparent 50%) !important;
    background-position: calc(100% - 30px) 14px, calc(100% - 25px) 14px, 100% 0;
    background-size: 6px 6px, 6px 6px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}




.login-items {
    padding: $padding-16;
    background-color: $color-login-card;
}

::ng-deep .mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
    margin-bottom: 0px;
}

::ng-deep .mat-card>.mat-card-actions:last-child {
    padding: $padding-16;
    margin-bottom: 0px !important;
    background: $color-login-card;
    margin-right: 0px !important;
    margin-left: 0px !important;
    border-radius: 10px;
    border-bottom: 1px solid #b6b6b6;
}

.login-card {
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #F0F0F0;
}

::ng-deep .mat-card {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-radius: 10px !important;
    border: 1px solid #b6b6b6;
}

.forgot-user {
    float: right;
    text-decoration: underline;
    color: #1791F1;
}

.login-txt {
    margin-left: 10%;
    top: 40%;
    position: absolute;
}

.organization-txt {
    font-size: $font-size-xxx-large;
    line-height: 1;
    color: $color-white;
    font-weight: bold;
    font-family: Lato;
}

.organiztion-intro {
    font-family: Lato;
    font-weight: bold;
    color: $color-white;
    font-size: $font-size-xx-large;
}

.label-weight {
    font-weight: $font-weight-normal;
}

.header-divider {
    margin-top: 25%;
    border-top-color: rgba(11, 10, 11, 0.40);
}

.user-txt-name {
    font-weight: $font-weight-normal;
    margin-left: $padding-16;
    font-family: Lato;
}

.body-divider {
    box-shadow: 0px 1px 2px;
}

.background-liner {
    background: transparent linear-gradient(180deg, $color-white-20 0%, #D5D5D5 32%, #FFFCFC 63%, #EAEAEA 69%, #E6E6E6 100%) 0% 0% no-repeat padding-box
}

::ng-deep .mat-card {
    background-color: $color-login-card;
}

::ng-deep .form-control {
    font-family: Lato;
}