@import './../theme/base.scss';

.notification {
    width: 36px;
    height: 21px;

    .label {
        color: $color-brown; 
        line-height: $line-height-xxxx-small;
    }
    
    .number-container {
        text-anchor: middle
    }
}