<app-nv-header ></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<br>

  <div class="row">
        <div class="col-md-12" *ngIf="showPanel == '1'">
            <app-nv-table-panel panelNum="1" (panelClick)="panelClicked('1')"></app-nv-table-panel>
        </div>
        <div class="col-md-5" *ngIf="showPanel != '1'">
          <app-nv-table-panel panelNum="2" (panelClick)="panelClicked('2')"></app-nv-table-panel>
        </div>
        <div class="col-md-5" *ngIf="showPanel == '3'">
          <app-nv-table-panel panelNum="3" (panelClick)="panelClicked('3')"></app-nv-table-panel>
        </div>
        </div>
  <br>
   
  
   

<app-nova-footer></app-nova-footer>