:host {
    display: block;
  }
  
  button {
    font-size: 24px;
    margin-top: 16px;
  }
  
  .wth-100{
      width:100%;
  }

  @keyframes slideInFromright {
    0% {
      transform: translateX(+100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .panel-slide{
    animation: 1s ease-out 0s 1 slideInFromright;
  }