<app-nv-header ></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<br>

  <div class="row">
        <app-slide-panel class="wth-100" [activePane]="isLeftVisible ? 'left' : 'right'">
          <div leftPane>
            <div class="col-md-12" >
              <app-nv-table-panel panelNum="1" (panelClick)="panelClicked('1')"></app-nv-table-panel>
          </div>
          </div>
          <div rightPane>
            <div class="row mg-0">
            <div class="col-md-8 style-right" >
              <app-nv-table-panel panelNum="2" (panelClick)="panelClicked('2')"></app-nv-table-panel>
            </div>
            <div class="col-md-4 style-left" *ngIf="showPanel == '3'">
              <app-nv-table-panel panelNum="3" (panelClick)="panelClicked('3')"></app-nv-table-panel>
            </div>
          </div>
          </div>
        </app-slide-panel>
        </div>
  <br>
<app-nova-footer></app-nova-footer>