<app-nv-header ></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<br>

  <div class="row">
        <div class="col-md-8 style-right">
         
           
            <app-nova-panel title="User Management">
             <app-user-list-table></app-user-list-table>
            </app-nova-panel>
          
        
        </div>
        <div class="col-md-4 style-left">
            <app-nova-panel title="Edit Users(5)">
              <app-edit-user></app-edit-user>
            </app-nova-panel>
        </div>
        </div>
  <br>
   
  
   

<app-nova-footer></app-nova-footer>