/* The Global or Design System's styles can be added here */
/// Color
// Primary
$primary-0-000: #FFFFFF;
$primary-0-100: #EFEFF2;
$primary-1-900: #264653;
$primary-2-900: #7DC636;
// secondary
$accent-1-900:  #4361EE;
$accent-2-900 : #E2A200;
//  Alerts
$stress-1-900: #61B652;
$stress-2-900: #DE020D;
$stress-3-900: #FFC107;
// Neutrals
$neutral-1-100: #757575;
$neutral-1-200: #C0BFCC;
$neutral-2-400: #aeaeb1;
$neutral-2-500: #c2c2c5;
$neutral-2-600: #E0DFE5;
/// font
$nv-font:
"Helvetica Neue",
"Segoe UI",
"Segoe UI Web (West European)",
"Segoe UI",
-apple-system,
BlinkMacSystemFont,
Roboto,
sans-serif;

$font-color-900: #31303C;
$font-color-800: #58566B;
$font-color-700:  #72708B;
$font-color-400: #A19FB2;
$font-color-200: #C0BFCC;

$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-Xlarge: 50px;
$font-size-XXlarge: 100px;
$font-header-size-small: 28px;
$font-header-size-medium: 32px;
$font-header-size-large: 36px;
$font-header-size-x-large: 40px;

$line-height-small: 17px;
$line-height-medium: 21px;
$line-height-large: 29px;

$font-weight-ultralight: 100;
$font-weight-thin: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;
$font-weight-black: 900;

$text-color-100:  rgb(0, 0, 0);
$text-color-200: rgb(23, 43, 77);
$text-color-300: rgb(66, 82, 110);
$text-color-400: rgb(244, 245, 247);

/// Background
$background-color-100: rgb(80, 95, 121);
$background-color-200: #E8E8E8;
$background-color-400: rgb(0, 82, 204);
$background-color-300: rgb(222, 235, 255);
$background-color-200: rgb(223, 225, 230);
$background-color-500: rgb(244, 245, 247);
/// Border
$border-color-100: rgb(0, 0, 0);
$border-color-200: rgb(76, 154, 230);
$border-color-300: #F8F8F9;



.h1 {
    font-size: $font-header-size-x-large;
    font-family: $nv-font;
    font-weight: $font-weight-bold;
}

.h2 {
    font-size: $font-header-size-large;
    font-family: $nv-font;
}

.body {
    font-size: $font-size-medium;
    font-family: $nv-font;
    font-weight: $font-weight-medium;
}