/* The Design System's styles can be added here */
// Color

$color-brown: #946A12;
$color-orange: #FCB520;
$color-yellow: #FBD890;
$color-light-yellow: #FFF5E1;
$color-green: #198515;
$color-light-green: #C1E9C1;
$color-red: #DB2828;
$color-light-red: #FFD7D7;
$color-dark-blue: #004463;
$color-dark-blue-10: #1F78B4;
$color-dark-blue-12: #1791F1;
$color-dark-blue-20: #81BDED;
$color-light-blue-10: #C9E2F5;
$color-light-blue-20: #F6FCFE;
$color-black-10: #000000;
$color-black: #1B1C1D;
$color-black-12: #00000066;
$color-black-14: #0000001A;
$color-black-18: #131313;
$color-black-20: #333333;
$color-dark-gray: #5D5D5D;
$color-dark-gray-02: #4D4D4D;
$color-dark-gray-10: #5D5D5D99;
$color-dark-gray-12: #5D5D5DCC;
$color-dark-gray-20: #999C9E ;
$color-dark-gray-30: #B5B5B5;
$color-light-gray: #f0f0f0;
$colo-light1-gray: #dddddd;
$color-light-gray-20: #e6e6e6;
$color-light-gray-30: #CACACA;
$color-light-gray-40: #595959;
$color-light-gray-80: #8a8a8a;
$color-light-gray-60: #333333DE;

$color-light-blue-40: #0366d6;

$color-white-10: #DEDEDF;
$color-white-12: #DFDFDF;
$color-white: #D9D9DA;
$color-white-20: #FFFFFF;
$color-white-fa: #fafafa;
$color-grey-de: #dee2e6;
$btn-color : #207FC7;
$color-red-heart: #D62323;
$color-gold-star: #DEC60A;
$color-grey-star: #D9D9D9;
$color-progressive-first-block : #ADADAD;
$color-progressive-second-block : #888888;
$color-white-f3 : #F3F3F3;
$color-grey-c7 : #c7c7c7;
$color-black-09 : #00000099;
$color-white-f6 : #f6f7f8;
$color-black-27 : #272626;
$color-black-1f : #1f1d1d;
$color-grey-b6 : #b6b6b6;
$color-grey-d5 : #D5D5D5;
$color-grey-ff : #FFFCFC;
$color-grey-ea : #EAEAEA;

// rgba
$color-black-rgba : rgba(11, 10, 11, 0.40);


// font
$nv-font: "Lato",
"Roboto",
"sans-serif";

$disabled-text-color: $color-dark-gray-30;
$text-color-10: $color-black;
$text-color-20: $color-dark-gray;
$text-color-30: $color-white;

$font-size-xx-small: 12px;
$font-size-x-small: 14px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-x-large: 28px;
$font-size-xx-large: 50px;
$font-size-xxx-large: 100px;

$font-weight-normal: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-heavy: 800;

$font-style-normal: normal;

$line-height-xxxx-small: 10px;
$line-height-xxx-small: 12px;
$line-height-xx-small: 15px;
$line-height-x-small: 18px;
$line-height-small: 19px;
$line-height-medium: 23px;
$line-height-large: 30px;
$line-height-x-large: 36px;

//margin
$margin-25: 25px;
$no-margin: 0px;

//padding
$padding-16: 16px;

/// Background
$background-color-100: $color-black;
$background-color-500: $color-white;
// Border
$border-color-100: $color-black;
$border-color-200: $color-dark-blue-10;
$border-color-500: $color-white;



.h10 {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-x-large;
  font-family: $nv-font;
  line-height: $line-height-x-large;
  color: $color-black-10;
}

.h20 {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  font-family: $nv-font;
  line-height: $line-height-large;
  color: $color-black-10;
}

.h30 {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-medium;
  font-family: $nv-font;
  line-height: $line-height-medium;
  color: $color-black-10;
}

.h40 {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-small;
  font-family: $nv-font;
  line-height: $line-height-small;
  color: $color-black-10;
}

.h50 {
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-x-small;
  font-family: $nv-font;
  line-height: $line-height-x-small;
  color: $color-black-10;
}

.sub-h20 {
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-small;
  font-family: $nv-font;
  line-height: $line-height-medium;
  color: $color-dark-gray-10;
}

.f10 {
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-x-small;
  font-family: $nv-font;
  line-height: $line-height-xxx-small;
  color: $color-dark-gray-10;

  &:link {
    line-height: $line-height-x-small;
    color: $color-dark-gray;
  }

  &:visited {
    line-height: $line-height-x-small;
    color: $color-dark-blue;
  }

  &:hover {
    line-height: $line-height-x-small;
    color: $color-black;
  }

}


.body {
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-x-small;
  font-family: $nv-font;
  line-height: $line-height-medium;
  color: $color-dark-gray;

  &:link {
    line-height: $line-height-x-small;
    color: $color-dark-blue-12;
  }

  &:visited {
    line-height: $line-height-x-small;
    color: $color-dark-blue;
  }

  &:hover {
    line-height: $line-height-x-small;
    color: $color-dark-blue-20;
  }

}

.body20 {
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-x-small;
  font-family: $nv-font;
  line-height: $line-height-x-small;
  color: $color-black-18;
}
