@import "./../../reusable/theme/base.scss";

.right-section {
  height: 100vh;
  background-image: linear-gradient(
    160deg,
    $color-dark-blue-1F,
    $color-dark-blue
  );
}

.nv-logo-center {
  margin: 0 auto;
  margin-top: $margin-25 !important;
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

::ng-deep .mat-card {
  padding: 0px !important;
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: -11px -9px 12px $color-white-20,
    10px 6px 21px 0px rgb(1 0 0 / 14%), -2px 3px 15px -6px $color-white-20;
}

.user-txt {
  margin-top: 8% !important;
}

.nxt-btn {
  margin: 10px 2% 10px 0 !important;
  //width: 78px;
  height: 40px;
  display: flex;
}

.custom-btn {
  background-color: $color-light-gray-22;
  border: 1px solid $color-dark-gray;
  border-radius: 4px;
}

.custom-label {
  font-weight: 200 !important;
  margin-top: 7px;
  margin-left: 9px;
}

button:focus {
  outline: none !important;
}

select {
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      $color-dark-gray-02 60%
    ),
    linear-gradient(135deg, $color-dark-gray-02 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 14px, calc(100% - 22px) 14px, 100% 0;
  background-size: 8px 8px, 8px 8px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

::ng-deep .dropdown {
  border: 0px !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: $color-dark-gray-30;
}

::ng-deep .dropdown .dropdown-menu {
  width: 21.5vw !important;
}

::ng-deep .dropdown .dropdown-menu.show {
  margin-left: 20px !important;
}

.login-items {
  padding: $padding-16;
  background-color: $color-white-f3;
}

.forgotPassword-items {
  padding: $padding-16;
  background-color: $color-white-f3;
}

::ng-deep .mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 0px;
}

::ng-deep .mat-card > .mat-card-actions:last-child {
  padding: $padding-16;
  margin-bottom: 0px !important;
  background: $color-white-f3;
  margin-right: 0px !important;
  margin-left: 0px !important;
  border-radius: 10px;
  border-bottom: 1px solid $color-grey-b6;
}

.login-card {
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
}

button {
  background-color: $color-light-gray;
}

::ng-deep .mat-card {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px !important;
  border: 1px solid $color-grey-b6;
}

.forgot-user {
  float: right;
  text-decoration: underline;
  color: $color-dark-blue-12;
  cursor: pointer;
}

.login-txt {
  margin-left: 10%;
  top: 40%;
  position: absolute;
}

.organization-txt {
  font-size: $font-size-xxx-large;
  line-height: 1;
  color: $color-white;
  font-weight: bold;
  font-family: Lato;
}

.organiztion-intro {
  font-family: Lato;
  font-weight: bold;
  color: $color-white;
  font-size: $font-size-xx-large;
}

.label-weight {
  font-weight: 600;
  font-family: Lato;
}

.header-divider {
  margin-top: 28%;
  border-top-color: $color-black-rgba;
}

.user-txt-name {
  font-weight: $font-weight-semi-bold;
  margin-left: $padding-16;
  font-family: Lato;
  margin-bottom: 2%;
}

.body-divider {
  box-shadow: 0px 1px 2px;
}

.background-liner {
  background: transparent
    linear-gradient(
      180deg,
      $color-white-20 0%,
      $color-grey-d5 32%,
      $color-grey-ff 63%,
      $color-grey-ea 69%,
      $color-light-gray-20 100%
    )
    0% 0% no-repeat padding-box;
}

::ng-deep .mat-card {
  background-color: $color-white-f3;
}

::ng-deep .form-control {
  font-family: Lato;
  color: $color-dark-gray-30;
}

::ng-deep .alert-success {
  background-color: $color-white-fc !important;
  margin-bottom: 0px !important;
  border-color: $color-green-a8 !important;
}

.secondary-txt {
  margin-top: 8%;
  font-size: 14px;
  font-family: Lato;
}

.sucess-Txt {
  color: $color-green-1e;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
}

.error-Txt {
  color: $color-red-97;
  font-size: 16px;
  font-family: "Lato";
  font-weight: 600;
}

.confirmation-text-size {
  font-size: $font-size-small;
}

.alert-danger {
  color: $color-red-97;
  background-color: $color-light-red-f6;
  border-color: $color-light-red-f5;
  border: 1px solid $color-red-97;
  border-radius: 4px;
  opacity: 1;
  margin-bottom: 1px;
}

.customAlert {
  padding-left: 12px;
  padding-right: 12px;
}
