<mat-drawer-container class="example-container mat-typography" autosize class='sidenav-height'>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true">
        <div class="row custom-height">
            <!-- closesidenav fun will close the side menu when it is opened -->
            <mat-icon *ngIf="isExpanded" class="sidenav-icon" aria-label="Menu" (click)="closeSideNav()">menu</mat-icon>
            <!-- expand side nav fun will open the side menu when it is closed -->
            <mat-icon *ngIf="!isExpanded" class="sidenav-closeicon" mat-list-icon><img (click)="checkExpand()"
                    src="../../../assets/icons/ico.hamburger.svg"></mat-icon>
            <h2 *ngIf="isExpanded" class="sidenav-txt color-main">MAIN MENU</h2>
        </div>
        <mat-nav-list>
            <!-- Itterrating all the menu items in the side menu -->
            <mat-list-item *ngFor='let item of sidenavItems; let i = index'>
                <div class="hoverColor"></div>
                <mat-icon mat-list-icon *ngIf='i!==8'><img class="sidenav-menuicon" src="{{item.icon}}"></mat-icon>
                <mat-icon mat-list-icon *ngIf='i==8'><img class="sidenav-menuicon2" src="{{item.icon}}"></mat-icon>
                <h4 class="sidenav-content color-main" mat-line *ngIf="isExpanded">{{item.name}}</h4>
                <app-notification class="notificationBar" *ngIf='i==1 && isExpanded' [number]="totalNotifications"></app-notification>
                <div class="notificationDot" *ngIf='i==1 && !isExpanded'></div>
                <mat-divider *ngIf="isExpanded"></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <ng-content>

        </ng-content>
    </div>
</mat-drawer-container>