<div class="row">
  <!-- <div class="col-md-8 user-list-left">
    <app-nova-panel>
      <app-nv-custom-table></app-nv-custom-table>
    </app-nova-panel>
  </div>
  <div class="col-md-4 user-list-right">
    <app-nova-panel>
      <div class="row">
        <div class="col-md-4">
          <img src="https://tse1.mm.bing.net/th?id=OIP.E45HCyveqDL44p8lmvQL9AAAAA&pid=Api&P=0" height="150px"
            width="150px" />
        </div>
        <div class="col-md-8">
          <span style="display: block;"><b>Joy Kunze</b></span>
          <span>QA Manager</span>
          <hr />
          <span style="display: block;">User Name: UKunze</span>
          <span style="display: block;">Unique ID: iafraiou</span>
          <span style="display: block;">Password Expiry: January 31, 2022</span>
          <span style="display: block;">Account Expiry: January 31, 2022</span>
          <span style="display: block;">Last Login: July 31, 2022 at 4:56 PM</span>
        </div>
      </div>
    </app-nova-panel>

  </div> -->
<div class="profile-header">
  <app-nv-user-profile [person]="person" ></app-nv-user-profile>
</div>
<div class="body">
    <div class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType"
      (itemSelect)="onItemSelect($event)"></app-nv-field>
    </div>
    <div class="selection-row"></div>
    <div class="date-row"></div>
</div>


</div>
<!-- <app-nv-footer></app-nv-footer> -->