@import './../../../reusable/theme/base.scss';

.user-list-left {
  margin: 1% 0 1% 0;
  padding-right: 0px !important;
}

.user-list-right {
  margin: 1% 0 1% 0;
  padding-left: 0px !important;
}

.left0 {
  padding-left: 0px;
}

hr {
  margin-top: unset !important;
}

::ng-deep .card-body {
  overflow-x: hidden !important;
}

.table-scroll {
  overflow: auto;
  height: 300px;
  margin-top: 11px;
}

.profile-container {
  position: relative;
  max-height: 400px;
  padding-bottom: 16px;
  margin-bottom: 16px;

  .profile-header {
    position: relative;
    width: 100%;
    padding-bottom: 16px;
  }

  .body {
    position: relative;
    width: 96%;
    margin-right: 14px;
    margin-left: 14px;

    .field-row {
      width: 100%;
      padding-bottom: 16px;
      margin-right: 14px;
    }

    .multi-select-row {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;

      .multi-select-field-row {
        padding-bottom: 16px;
        width: 100%;
      }

      .dropdown-plus-container {
        margin-left: 8px;
        // 18px (label height) + 4px (margin-top) =  22px
        margin-top: 22px;
      }

    }

    .date-row {
      position: relative;
      margin-top: 16px;
      height: 63px;
      width: 35%;

      .field-label {
        color: $color-dark-gray-dde;
        height: 18px;
      }
    }

  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 26px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    .save-button{
      margin-right: 4px;
    }
    .cancel-button{}
  }


}