<div class="profile-container">

  <div class="profile-header">
    <app-nv-user-profile [person]="person"></app-nv-user-profile>
  </div>
  <div class="body">
    <div id="firstName" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="lastName" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="UserName" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="email" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="id" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="title" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="title" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="position" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="EmployeeNumber" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="officePhone" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div id="mobilePhone" class="field-row">
      <app-nv-field [label]="fieldLabel" [fieldStatusType]="fieldStatusType" (itemSelect)="onItemSelect($event)">
      </app-nv-field>
    </div>
    <div class="multi-select-row">
      <div id="mobilePhone" class="multi-select-field-row">
        <app-nv-multiselect-dropdown (filteredItems)="onMultiselectItemsFilter($event)" class="body-item"
          [label]="multiselectFieldLabel" [fieldStatusType]="multiselectFieldStatusType">
        </app-nv-multiselect-dropdown>
      </div>
      <div class="dropdown-plus-container">
        <app-nv-dropdown [extensionDirection]="dropdownMenuExtensionDir" [items]="dropdownItems"
          [selectedItem]="defaultSelectedItem" [isFieldDisable]="isDropdownDisable"
          [fieldStatusType]="dropdownFieldStatusType" [fieldType]="dropDownFieldType"
          (itemSelect)="onItemSelect($event)">
        </app-nv-dropdown>
      </div>
    </div>
    <div class="multi-select-row">
      <div id="mobilePhone" class="multi-select-field-row">
        <app-nv-multiselect-dropdown (filteredItems)="onMultiselectItemsFilter($event)" class="body-item"
          [label]="multiselectFieldLabel" [fieldStatusType]="multiselectFieldStatusType">
        </app-nv-multiselect-dropdown>
      </div>
      <div class="dropdown-plus-container">
        <app-nv-dropdown [extensionDirection]="dropdownMenuExtensionDir" [items]="dropdownItems"
          [selectedItem]="defaultSelectedItem" [isFieldDisable]="isDropdownDisable"
          [fieldStatusType]="dropdownFieldStatusType" [fieldType]="dropDownFieldType"
          (itemSelect)="onItemSelect($event)">
        </app-nv-dropdown>
      </div>
    </div>
    <div class="multi-select-row">
      <div id="mobilePhone" class="multi-select-field-row">
        <app-nv-multiselect-dropdown (filteredItems)="onMultiselectItemsFilter($event)" class="body-item"
          [label]="multiselectFieldLabel" [fieldStatusType]="multiselectFieldStatusType">
        </app-nv-multiselect-dropdown>
      </div>
      <div class="dropdown-plus-container">
        <app-nv-dropdown [extensionDirection]="dropdownMenuExtensionDir" [items]="dropdownItems"
          [selectedItem]="defaultSelectedItem" [isFieldDisable]="isDropdownDisable"
          [fieldStatusType]="dropdownFieldStatusType" [fieldType]="dropDownFieldType"
          (itemSelect)="onItemSelect($event)">
        </app-nv-dropdown>
      </div>
    </div>
    <div class="multi-select-row">
      <div id="mobilePhone" class="multi-select-field-row">
        <app-nv-multiselect-dropdown (filteredItems)="onMultiselectItemsFilter($event)" class="body-item"
          [label]="multiselectFieldLabel" [fieldStatusType]="multiselectFieldStatusType">
        </app-nv-multiselect-dropdown>
      </div>
      <div class="dropdown-plus-container">
        <app-nv-dropdown [extensionDirection]="dropdownMenuExtensionDir" [items]="dropdownItems"
          [selectedItem]="defaultSelectedItem" [isFieldDisable]="isDropdownDisable"
          [fieldStatusType]="dropdownFieldStatusType" [fieldType]="dropDownFieldType"
          (itemSelect)="onItemSelect($event)">
        </app-nv-dropdown>
      </div>
    </div>
    <div class="multi-select-row">
      <div id="mobilePhone" class="multi-select-field-row">
        <app-nv-multiselect-dropdown (filteredItems)="onMultiselectItemsFilter($event)" class="body-item"
          [label]="multiselectFieldLabel" [fieldStatusType]="multiselectFieldStatusType">
        </app-nv-multiselect-dropdown>
      </div>
      <div class="dropdown-plus-container">
        <app-nv-dropdown [extensionDirection]="dropdownMenuExtensionDir" [items]="dropdownItems"
          [selectedItem]="defaultSelectedItem" [isFieldDisable]="isDropdownDisable"
          [fieldStatusType]="dropdownFieldStatusType" [fieldType]="dropDownFieldType"
          (itemSelect)="onItemSelect($event)">
        </app-nv-dropdown>
      </div>
    </div>
    <div class="date-row">
      <label for="input" class="field-label h50"> Account Expiry </label>
      <app-nv-date-picker [isDateRangePicker]="false"></app-nv-date-picker>
    </div>
  </div>
</div>
