<div>
    <div class="search-container">
        <app-search class="search"></app-search> 
    </div>
    <div class="main-container">
        <div class="heading"> General</div>
        <div class="description"> Configure system-wide settings</div>
        <div class="link-text">General Settings</div>
        <div class="link-text">Security Settings(LDAP, Passwords, Etc)</div>

        <div class="heading"> Locale</div>
        <div class="description"> Set default localization settings for your system</div>
        <div class="link-text">Locale and Languages</div>

        <div class="heading"> E-Mail</div>
        <div class="description"> Configure settings to set system emails and notofication to be sent out</div>
        <div class="link-text">E-Mail Configuration</div>
        <div class="link-text">E-Mail Notification</div>
    </div>
    
</div>