<div class="main">
<div>
    <div>Title</div>
        <div>
            <input class="fd-width input-fld" type="text">
    </div>
</div>
<div class="mr-tp-2">
    <div>Departments</div>
        <div>
            <app-nv-dropdown class="fd-width"></app-nv-dropdown>
    </div>
</div>
<div class="mr-tp-2">
    <div>Sites</div>
        <div>
            <app-nv-dropdown class="fd-width"></app-nv-dropdown>
    </div>
</div>

<div class="mr-tp-2">
    <div>Teams</div>
        <div>
            <app-nv-dropdown class="fd-width"></app-nv-dropdown>
    </div>
</div>

<div class="mr-tp-2">
    <div>Roles</div>
        <div>
            <app-nv-dropdown class="fd-width"></app-nv-dropdown>
    </div>
</div>
</div>
<div class="footer-btn">
    <app-nv-button class="flt-right" label="Cancel"></app-nv-button>
    <app-nv-button class="flt-right mr-rt-1"  label="Save"></app-nv-button>
</div>
