<div class="border small-card">
    <div class="row row-style">
      <div class="col-12 card-style">
        <div class="row ">
            <div class="col-4 section-style" *ngFor="let cardData of textToShow">
                <div class="card-border">
                    <div class="row">
                        <span class="user-img"></span>
                          <span class=" pd-lt-5">
                            <div class="media-body align-self-center">
                              <div class="card-text"></div>
                              <div class="card-text-1"></div>
                             
                            </div>
                          </span>
                   
                      </div>
                      <div class="row mr-tp-3">
                        <div class="col-12">
                          
                            <div class="card-text-2"></div>
                            <div class="card-text-3"></div>
                          
                        </div>
                      </div>
                </div>
                
            </div>
          
        </div>
        
      </div>
    </div>
    </div>