<p>placeholders works!</p>

<div class="container">
  <!--first placeholder-->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <img
            src="https://via.placeholder.com/100x100"
            alt="#"
            class="mr-3 rounded small-round"
            style="width: 100px"
          />
        </div>
        <div class="col-11">
          <div class="media-body align-self-center">
            <h4>
              My Name <small><i>Posted on May 20, 2018</i></small>
            </h4>
            <p>
              <small><i>My Name Posted on May 20, 2018</i></small>
            </p>
          
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="flex-column flex-md-row">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel
              ipsum aliquam metus facilisis scelerisque. Quisque vitae
              condimentum nulla. Vestibulum lobortis ullamcorper augue id
              consequat. Orci varius natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Phasellus at aliquet
              dui. Mauris dapibus lectus id laoreet iaculis. Duis auctor augue
              augue, eget lobortis quam auctor at.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Second placehoder -->
  <div class="border" style="width: 18rem; padding: 15px;">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <img
              src="https://via.placeholder.com/100x100"
              alt="#"
              class="mr-3 rounded xs-small-round"
              style="width: 40px"
            />
          </div>
          <div class="col-10">
            <div class="media-body align-self-center">
              <h6 class="mg-3">
                My Name <small><i>Posted on May 20, 2018</i></small>
              </h6>
              <h6>
                My Name <small><i>Posted on May 20, 2018</i></small>
              </h6>
              
            
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="flex-column flex-md-row">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel
                ipsum aliquam metus facilisis scelerisque. Quisque vitae
                condimentum nulla. Vestibulum lobortis ullamcorper augue id
                consequat. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Phasellus at aliquet
                dui. Mauris dapibus lectus id laoreet iaculis. Duis auctor augue
                augue, eget lobortis quam auctor at.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--third-placeholder--> 
<div class="border">
<div class="row">
  <div class="col-12">
    <div class="row pad-10">
      <div class="col-2">
        <img
          src="https://via.placeholder.com/100x100"
          alt="#"
          class="mr-3  large-round"
          style="width: 200px"
        />
      </div>
      <div class="col-10">
        <div class="media-body align-self-center banner-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel
            ipsum aliquam metus facilisis scelerisque. Quisque vitae
            condimentum nulla. Vestibulum lobortis ullamcorper augue id
            consequat. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Phasellus at aliquet
            dui. Mauris dapibus lectus id laoreet iaculis. Duis auctor augue
            augue, eget lobortis quam auctor at.
          </p>
        
        </div>
      </div>
    </div>
   
  </div>
</div> 
</div>
</div>
