<!-- <div class="date-picker-container">
  <input class="label" matInput [matDatepicker]="picker" placeholder="Choose a Date">
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>
      <img class="date-toggle-icon" src="./../../../assets/icons/date-picker.icon.svg">
    </mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div> -->

<div class="date-picker-container">
  <mat-date-range-input [rangePicker]="picker">
    <input class="label" matStartDate matInput placeholder="Start date">
    <input class="label" matEndDate matInput placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>
      <img class="date-toggle-icon" src="./../../../assets/icons/date-picker.icon.svg">
    </mat-icon>
  </mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</div>





