@import './../theme/base.scss';

@mixin inputLabel {

  &.label {
    overflow: scroll;
    font-family: $nv-font;
    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-medium;
    color: $color-dark-gray-12;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
  }

  &::-webkit-input-placeholder {
    font-family: $nv-font;
    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-x-small;
    color: $color-dark-gray-30;
  }

  &:-moz-placeholder {
    font-family: $nv-font;
    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-x-small;
    color: $color-dark-gray-30;
  }

  &::-moz-placeholder {
    font-family: $nv-font;
    font-size: $font-size-x-small;
    font-weight: $font-weight-normal;
    line-height: $line-height-x-small;
    color: $color-dark-gray-30;
  }
}


.date-picker-container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: $form-height-medium;
  background-color: $color-white-20;
  border-radius: 4px;
  width: 100%;

  // &.single {
  // width: 160px;
  // }
  // &.range {
  // width: 260px;
  // }
.picker-range-input {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: $padding-small;

  .input-start {
   @include inputLabel;
   font-family: $nv-font;
   font-size: $font-size-x-small;
   font-weight: $font-weight-normal;
   color: $color-dark-gray-12;
   //border: 1px solid black;
  }
  .input-end {
   @include inputLabel;
   font-family: $nv-font;
   font-size: $font-size-x-small;
   font-weight: $font-weight-normal;
   color: $color-dark-gray-12;
  //border: 1px solid black;
  }
}
.input-single {
  position: relative;

  overflow: visible;
  white-space: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border: none;
  padding-left: $padding-small;
 
  @include inputLabel;
}
  .date-toggle-icon {
    width: 14px;
    height: 16px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 4px;
    color: #00000099;
  }

}
::ng-deep input.mat-input-element {
  margin-top: 0px !important;
}

::ng-deep button:focus {
  outline: none !important;
}

::ng-deep .mat-datepicker-toggle {
margin-left: auto !important;
margin-right: -2px !important;

}

::ng-deep .mat-icon-button {}

::ng-deep .mat-calendar-body-cell-content {
 border-radius: 4px !important;
}

::ng-deep .mat-datepicker-popup {
  top: 162.139px !important;
}

// ripple
::ng-deep .mat-ripple {
  display: none !important;
}

::ng-deep .mat-button-ripple.mat-ripple,
::ng-deep .mat-button-focus-overlay {
  display: none !important;
}

::ng-deep .mat-calendar-body-cell-content,
::ng-deep .mat-date-range-input-separator {
  color: #5D5D5DDE !important;

}

::ng-deep .mat-calendar-body-selected {
  background-color: #F6FCFE !important;
  border: 1px solid #81BDED !important;
}

::ng-deep .mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: none !important;
  background-color: #F6FCFE !important;
  color: #5D5D5DDE;
  border: 1px solid #81BDED !important;
  border-radius: 4px !important;
}

::ng-deep .mat-icon-button {
  background-color: transparent !important;
  border: none !important;
}

::ng-deep .mat-datepicker-toggle-active {
  color: gray;
}

::ng-deep .mat-icon { }


