<div class="container"  (click)="onCancelClick()">
  <div class="popup-card-container"  nvStyleColor [style]="fieldStyleType">
    <div class="card-content">
      <div class="message-header "> {{message?.header}} </div>
      <div class="message-content "> {{message?.content}} </div>
    </div>
    <div>
    <object class="cancel-icon" data="./../../../assets/icons/circular-cancel.icon.svg"
      type="image/svg+xml" nvSvgColor [svgElementId]="svgIconIdsDic.cancelPath"
      [color]="svgIconStatusColor" ></object>
      
  </div>
</div>
