@import './../theme/base.scss';
.dropdown {
    .form-outline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
.form-control {

    &:focus {
        border-color: transparent;
        box-shadow: none;
    }
}
}
.dropdown-menu {
    .dropdown-item {
        &:hover {
            background: $background-color-100;
        }
    }
.active {
    background: $background-color-100;

}

}

}