
  <div class="dropdown" [class.container-width]="isFocus">
    <div class="form-outline" data-toggle="dropdown">
      <textarea class="form-control h50 label" type="search" id="form1" rows="1" placeholder="Search..." 
      [formControl]="selectedItemFormControl"(input)="onInput($event)" (keyup)="onKeyUp($event)"
      (keydown)="onKeyDown($event)" (focus)="onSearchFocus()" (blur)="onSearchBlur($event)"> </textarea>
      <img class="icon" *ngIf="searchIcon"  src="../../../assets/icons/search.icon.svg">
      <img class="icon" *ngIf="!searchIcon" src="../../../assets/icons/circular-cancel.icon.svg" (click)="onCancelClick($event)">
    </div>
    <div class="dropdown-menu" [ngClass]="{'display': !showMenu}">
      <div class="dropdown-item h50 label" *ngFor="let item of filteredItems; let i = index" (click)="onItemSelect(i)"
        [ngClass]="{'active': i==selectedIndex}"> {{item}}</div>
    </div>

  </div>


