
<div class="dropdown" [class.container-width]="isFocus">
  <div class="form-outline h50 label" data-toggle="dropdown">
    <div *ngIf="inputKeywordLabel" class="input-keyword-label">{{inputKeywordLabel}}</div>

    <textarea class="form-control "  [class.indented-label]="inputKeywordLabel" type="search" id="form1" rows="1" placeholder="Search..."
      [formControl]="queryFormControl" (input)="onInput($event)" (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)"
      (focus)="onSearchFocus()" (blur)="onSearchBlur($event)"> </textarea>
    <img class="icon" *ngIf="searchIcon" src="../../../assets/icons/search.icon.svg">
    <img class="icon" *ngIf="!searchIcon" src="../../../assets/icons/circular-cancel.icon.svg"
      (click)="onCancelClick($event)">
  </div>
  <div class="dropdown-menu" [ngClass]="{'display': !showMenu}">
    <ng-container *ngIf="isAdvance">
      <div class="dropdown-item h50 label" *ngFor="let item of list | advanceFilter: queryFormControl.value:searchableList;
       let i = index" (click)="onItemSelect(i)" [ngClass]="{'active': i==selectedIndex}">
        {{item.name}} ({{item.age}}) ({{item.email}}) ({{item.date}})</div>
    </ng-container>
    <ng-container *ngIf="!isAdvance">
      <div class="dropdown-item h50 label" *ngFor="let item of list | filterAll: queryFormControl.value;
         let i = index" (click)="onItemSelect(i)" [ngClass]="{'active': i==selectedIndex}">
        {{item.name}} ({{item.age}}) ({{item.email}}) ({{item.date}})</div>
    </ng-container>
  </div>
</div>
