@import "../../../reusable/theme/base.scss";
.container{
    max-width:100% !important;
    line-height: 40px;
    background-color: $color-light-gray;
    border-bottom: 2px solid $color-light-gray-28;
    font-size: 14px;
    font-weight: 500;
}

.dp-flex{
    display: flex;
    align-items: center;
}

.wd-70{
    width:70% !important;
}

.wd-100{
    width:100% !important;
}

.mr-lt-3{
    margin-left: 3%;
}

.ht-70{
    height: 81%;
    padding: 0 1% 2.5% 1%
}

.add-btn{
    height: 65% !important;
    border-radius:5px;
    background-color: $color-light-gray-30;
    border: 2px solid $color-light-gray-28;
    color:$color-light-gray-60;
}

.add-icon{
   // font-size: 40px;
}

::ng-deep .mat-select{
    background-color: $color-white-20;
}

.dropdown-toggle::after{
    content: none;
}

.dropdown-menu{
    transform: translate3d(-140px, 45px, 0px) !important;
}