<div class="container">
    <div class="row ">
        <div class="col-md-2 dp-flex">
            <mat-icon>menu</mat-icon>
            <mat-label class="mr-lt-3">MAIN MENU</mat-label>
        </div>
        <div class="col-md-5 dp-flex">
            <mat-label>LEVEL 1 MENU NAME</mat-label>
            <mat-select class="wd-70 mr-lt-3 ht-70" >
                <mat-option  value="menu1">
                menu1
                </mat-option>
                <mat-option  value="menu2">
                    menu2
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-4 dp-flex">
            <mat-label>SITE</mat-label>
            <mat-select class="mr-lt-3 ht-70" >
                <mat-option  value="site1">
                site1
                </mat-option>
                <mat-option  value="site2">
                    site2
                </mat-option>
            </mat-select>
        </div>
        <div class="col-md-1 dp-flex">
            <div class="dropdown dropdown-toggle">
                <button class="btn btn-secondary dropdown-toggle add-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <mat-icon class="add-icon">add</mat-icon>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
           
        </div>
        
    </div>
</div>