<div class="multiselect-dropdown-container">
  <label *ngIf="label" for="input" class="field-label h50" nvTextColor [color]="labelStatus">{{label}}</label>
  <mat-form-field class="multiselect-dropdown">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of items" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="removable"></mat-icon>
      </mat-chip>
      <input multiline #itemInput [formControl]="itemCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)" (click)="onFieldClick()" (blur)="onBlur()" nvStyleColor
        [style]="fieldStyle">
    </mat-chip-list>
    <ng-container [ngTemplateOutlet]="arrowTemplate" [ngTemplateOutletContext]="{isArrowDown:isArrowDown}">
    </ng-container>
    <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="selected($event)">
      <ng-container *ngIf="!isFieldDisable" >
      <mat-option  *ngFor="let item of filteredItems | async" [value]="item">
        {{item}}
      </mat-option>
    </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>
<ng-template #arrowTemplate let-item="isArrowDown">
  <div class="arrow-icon-container" [ngClass]="{'no-item': !hasItem}">
    <img *ngIf="isArrowDown" class="arrow-icon" src="{{arrowIcons?.downward}}" alt='Arrow' nvSvgColor
      [svgElementId]="svgIconIdsDic.arrowDownPath" [color]="fieldStatusColorDic.disable"
      [isDirectiveEnable]="isFieldDisable">
    <img *ngIf="!isArrowDown && !isFieldDisable" class="arrow-icon" src="{{arrowIcons?.upward}}" alt='Arrow'>
  </div>
</ng-template>