<!-- <mat-tab-group mat-align-tabs="start" [headerPosition]= 'headerPositionInput'>
    <mat-tab *ngFor='let tab of tabs' label="{{tab.name}}">
        <tab-wrapper [type]="tab.component"></tab-wrapper>
    </mat-tab>
</mat-tab-group> -->

<div class="container custom-container">
  <div class="row">
    <div class="col-12">
      <div class="card mt-3 tab-card custom-card">
        <div class="card-header tab-card-header custom-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let item of tabs;  let index = index">
              <a class="nav-link" [class.active]="index == 0" id="one-tab" data-toggle="tab" href="#{{item.name}}" role="tab" aria-controls="One"
                aria-selected="true">{{item.name}}</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div [class.active]="index == 0" [class.show]="index == 0" *ngFor="let item of tabs;  let index = index" class="tab-pane fade p-3" id="{{item.name}}" role="tabpanel" aria-labelledby="one-tab">
            <h5 class="card-title">{{item.name}}</h5>
            <tab-wrapper [type]="item.component"></tab-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>