<div class="progress" *ngIf='secondarySize.length==1'>
    <!-- color and size will be coming from dashboard component -->
    <div class="progress-bar" [style.background-color]='color' [style.width]='size' role="progressbar"><span
            class="progressTxt">{{size}}</span></div>
</div>
<!-- text and color will be based on the response -->
<h1 [style.color]='statusText' class="statusTxt">{{progressiveTxt}}</h1>
<br>
<div class="progress progressTxt-multi" *ngIf='secondarySize.length>1'>
    <div class="progress-bar" class='firstBlock' role="progressbar" [style.width]='size'></div>
    <div class="progress-bar" class='secondBlock' role="progressbar" [style.width]='secondarySize'><span
            class="multi-txt">{{totalSize}}%</span></div>
</div>