<div class="container-fluid" id="myNavbar">
    <div class="row">
        <div class="col-7 footer-pad">
            <ul class="list-inlin login-txt">
                <li>@2021 All Rights Reserved <a href="#">ntint@com</a></li>
            </ul>
        </div>
        <div class="col-5">
            <ul class="list-inlin login-txt pad-0">
                <li>Language: <a href="#" class="language"><i class="fab fa-youtube"></i> English</a></li>

            </ul>
        </div>
    </div>
</div> 