<div class="container-fluid" id="myNavbar">
  <div class="row">
    <div class="col-7 footer-pad">
      <ul class="list-inlin login-txt">
        <li>@2021 All Rights Reserved <a href="#">ntint@com</a></li>
      </ul>
    </div>
    <div class="col-5" style="top:-3px">
      <ul class="list-inlin login-txt pad-0">
        <li>
          Language:
          <a href="#" class="language">
            <img src="{{ flagIcon }}" alt="icon" />
          </a>
          <select class="form-control form-control-lg" [ngModel]="selectedItem" (ngModelChange)="onChange($event)">
            <option *ngFor='let item of Domain'>{{item.item}}</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</div>