<b>Feeds</b>
<div class="feed-main">
    <div class="ht-60" *ngFor="let data of feedData">
        <div class="feed-usr-icon">
            <img class="novatek-logo img-style" alt="Novatek Logo" 
             src="{{imageURL}}" />
         </div>
         <div class="feed-details">
             <div><a href="">{{data.authorName}}</a>&nbsp;<b>{{data.action}}</b></div>
             <div *ngIf="data.message">{{data.message}} </div>
             <div *ngIf="data.attachments.length">
                 <span *ngFor="let img of data.attachments">
                 <img class="novatek-logo img-attachment" alt="Novatek Logo"
             src="{{img.url}}" />
            </span>
             
             </div>
             <div class="pd-tp-5">{{data.likes}} Likes</div>
         </div>
        
    </div>
    <div class="comment-button">
        <textarea placeholder="Add your comment" class="comment-box" [(ngModel)]="commentText"></textarea>
        <button (click)="addComment()">Comment</button>
    </div>
    
</div>
