<b>Feeds</b>
<div style="border:1px solid; width:50%">
    <div style="min-height:60px" *ngFor="let data of feedData">
        <div class="feed-usr-icon">
            <img class="novatek-logo" alt="Novatek Logo" style="height:40px; width:40px; border-radius: 20px;"
             src="https://tse1.mm.bing.net/th?id=OIP.E45HCyveqDL44p8lmvQL9AAAAA&pid=Api&P=0" />
         </div>
         <div class="feed-details">
             <div><a href="">{{data.authorName}}</a>&nbsp;<b>{{data.action}}</b></div>
             <div *ngIf="data.message">{{data.message}} </div>
             <div *ngIf="data.attachments.length">
                 <span *ngFor="let img of data.attachments">
                 <img class="novatek-logo" alt="Novatek Logo" style="height:150px; width:150px"
             src="{{img.url}}" />
            </span>
             
             </div>
             <div style="padding-top: 5px;">{{data.likes}} Likes</div>
         </div>
        
    </div>
    <div style="margin: 2% 0% 0% 12%;">
        <textarea placeholder="Add your comment" style="height: 80px; width:90%" [(ngModel)]="commentText"></textarea>
        <button (click)="addComment()">Comment</button>
    </div>
    
</div>
