.feed-usr-icon{
    display:inline-block;
    width:100px;
    position:absolute;
    margin:0.5% 0 0 1%;
}

.feed-details{
    margin-top: 1%;
    display:inline-block;
    position: relative;
    width:80%;
    left:12%;
    white-space: pre-line;
}