@import "../../reusable/theme/base.scss";

mat-paginator {
  margin-bottom: 47px !important;
}

.search-box{
  border: 1px solid #DEDEDF;
  margin: 1%;
  border-radius: 4px;
  height: 40px;
  background: #fff;
  color: #9A9A9A;
}

.search-field{
    width: 97%;
    padding-left: 1%;
}

::ng-deep .mat-icon {
  fill: $color-white !important;
}

.data-table{
  border: 1px solid $color-white;
  margin: 1%;
  width: 98% !important;
}

::ng-deep .search-placeholder-align .mat-form-field-infix{
  position: relative;
  top: -6px;
}

::ng-deep .search-placeholder-align .mat-form-field-label-wrapper {
  margin-top: 4px;
}

.padding-3{
  padding:4px;
}

.status-gr{
    background-color: $color-light-green;
}

.status-rd{
    background-color: $color-light-red;
}

.status-yl{
    background-color: $color-light-blue-20;
}

th{
    font-weight: bold;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-cell, .mat-footer-cell {
color: $color-dark-gray-70 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $color-black-10 !important;
}

::ng-deep .mat-checkbox .mat-accent .mat-checkbox-indeterminate{
  background-color: $color-black-10 !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
}
table{
  font-family: "Lato";
}

thead {
    background: hsl(240, 8%, 97%) !important;
}
tr.mat-header-row {
    height: 40px !important;
    background-color: #fff !important;
    height: 50px !important;
}
.mat-header-cell {
    text-transform: capitalize !important;
    color: $color-dark-gray-70;
}
.mat-cell, .mat-footer-cell {
    font-size: 12px;
    text-transform: capitalize !important;
}
tr.mat-header-row > .mat-checkbox-layout {
  margin-top: 8px !important;
 }

 .mat-header-cell {
  font-size: 14px !important;
  font-weight: 500;
}

.mat-table {
    background: #fff;
    width: 100%;
}

tr.mat-row.cdk-row:nth-child(odd) {
    background: #C1E9C1;
}

.mat-chip{
  background-color: lightgray !important;
  color: darkgrey !important;
}

.more-opt-icon{
  width:20px;
  height:20px;
  margin-left: 15%;
}

.paging-space{
    display: inline-block;
}

.page-size-title{
  font-family: 'Lato';
  font-weight: bold;
}

.img {
  margin-left: 4px;
  margin-top: 2px;
}

.page-size{
    height: 30px;
    border-color: lightgray;
    width: 59px;
    text-align: center;
    font-family: 'LATO';
    font-weight: bolder;
    border-radius: 4px;
    border-width: 2px;
    padding-left: 11px;
    font-size: 14px;
}

.ft-rt{
  background: white;
  width: 100%;
  height: 60px;
  text-align: end;
  padding-top: 1.5%;
}

.pd-lt-2{
  padding-left: 2.5%;
}

.table-check{
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: 0 auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;
  position: relative;
    top: 4px;
}

.table th, .table td{
  vertical-align: middle !important;
}

table.table td, table.table th {
  padding: 0rem 16px 0rem !important;
}

.mail-link{
  text-decoration: underline !important;
  color:#7badd4 !important;
}

::ng-deep .ngx-pagination .current {
  background: #1d75b8 !important;
  font-size: 12px;
}

::ng-deep .ngx-pagination a, .ngx-pagination button {
  color: lightgray !important;
  font-size: 12px;
}


