<div class="{{'ngx-timepicker-field-container'}}">
  <ngx-timepicker-field [format]="24" [min]="'03:15 am'" (timeChanged)="onTimeChange($event)"></ngx-timepicker-field>
  <!-- <div class="ngx-timepicker-control-arrows">
      <img class="arrow-up" src="./../../../assets/icons/ico.arrow.up.svg">
      <div class="spacer"></div>
      <img class="arrow-down" src="./../../../assets/icons/ico.arrow.down.svg">
  </div>   -->
</div>

<div class="ngx-timepicker-field-container">
  <ngx-timepicker-field [format]="24" [defaultTime]="'23:11'"></ngx-timepicker-field>
</div>


