<app-nv-header *ngIf="person" [person]="person"></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<app-nv-sidenav>
   <h1 class="comments-header"><strong>{{'comments' | translate }}</strong></h1>
   <app-nv-comment-box [comments]="comments"></app-nv-comment-box>
   <br>
   <app-nova-panel>
     
         <app-nv-custom-table></app-nv-custom-table>
     
   </app-nova-panel>
   <br>
   <div class="row">
   <div class="col-md-6">
      <app-nova-panel title="Global Options">
     
         <nv-app-general-settings></nv-app-general-settings>
     
   </app-nova-panel>
   </div>
   <div class="col-md-6">
      <app-nova-panel title="General">
     
         <app-nv-company-general-info></app-nv-company-general-info>
     
   </app-nova-panel>
   </div>
   </div>
   <br/>
   <app-nv-edit-panel></app-nv-edit-panel>
   <br>
   <app-nv-table-panel></app-nv-table-panel>
   <hr>
   <h1 class="comments-header"><strong>Star Rating</strong></h1>
   <app-nv-rating [type]="'star'"></app-nv-rating>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Heart Rating</strong></h1>
   <app-nv-rating [type]="'heart'"></app-nv-rating>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Sucess Progressive Bar</strong></h1>
   <app-nv-progressive-bar [color]="'sucess'" [size]="SucessprogressiveBarValue" [progressiveTxt]='sucessTxt'></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>warning Progressive Bar</strong></h1>
   <app-nv-progressive-bar [color]="'warning'" [size]="warningProgressivebarValue" [progressiveTxt]='warningTxt' [statusText]='textColor'></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>error Progressive Bar</strong></h1>
   <app-nv-progressive-bar [color]="'error'" [size]="SucessprogressiveBarValue" [progressiveTxt]='errorTxt' [statusText]='textColor'></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>tentative Progressive Bar</strong></h1>
   <app-nv-progressive-bar [color]="'tentitive'" [size]="warningProgressivebarValue"></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>File uploadProgressive Bar</strong></h1>
   <app-nv-progressive-bar [color]="'fileUpload'" [size]="warningProgressivebarValue"></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Multi Color Progressive Bar</strong></h1>
   <app-nv-progressive-bar [size]="warningProgressivebarValue" [secondarySize]="dualwarningProgressivebarValue"></app-nv-progressive-bar>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Regular Tabs</strong></h1>
   <app-nv-tabs [tabs]="types"></app-nv-tabs>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Inverted Tabs</strong></h1>
   <app-nv-inverted-tabs [tabs]="invertedTypes"></app-nv-inverted-tabs>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Left Aligned Tabs</strong></h1>
   <app-nv-left-tab [tabs]="leftTypes"></app-nv-left-tab>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Right Aligned Tabs</strong></h1>
   <app-nv-right-tab [tabs]="rightTypes"></app-nv-right-tab>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Feeds</strong></h1>
   <nv-app-feed></nv-app-feed>
   <br>
   <hr>
   <h1 class="comments-header"><strong>Custom Panel</strong></h1>
   <app-nova-panel>
      <app-test></app-test>
   </app-nova-panel>
   <br>
   <hr>
  
   <div>
      <app-nv-placeholder-text-card [textData]="textCardData"></app-nv-placeholder-text-card>
   </div>
   <div>
      <app-nv-placeholder-small-card [textToShow]="cardSmallData"></app-nv-placeholder-small-card>
   </div>
   <div>
      <app-nv-placeholder-list [listToShow]="cardListData"></app-nv-placeholder-list>
   </div>
   <br>
   <hr>
   <div>
      <app-nv-placeholder-card [textToShow]="cardData"></app-nv-placeholder-card>
   </div>
   <br>
   <hr>
   <div>
      <nv-placeholder-banner [bannerTextData]="bannerData"></nv-placeholder-banner>
   </div>
   <br>
   <hr>
   <div>
      <nv-placeholder-Bigcard [smallCardData]="smallCardData"></nv-placeholder-Bigcard>
   </div> 
  </app-nv-sidenav>
<app-nv-footer></app-nv-footer>
