@import "../../reusable/theme/base.scss";

.custom-card  {
    .card-header {
        font-size: 12px;
        padding: 5px;
    }
    .card-body {
        padding: 0.50rem;
    }
    .shadow-sm {
        box-shadow: 0 0 0.5rem rgb(17 17 17 / 70%) !important;
        width: 100%;
        border: 1px solid #eee;
        min-height: 145px;    
    }
    .panel-titleTxt {
        color: $color-light-gray-40;
        font-weight: 500;
        font-size: 16px;
        margin-left: 10px;
    }
}