@import "../../reusable/theme/base.scss";

.custom-card {
    border-radius: 15px !important;
  .card-header {
    font-size: 12px;
    padding: 8px 12px 5px 10px;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
  }
  .card-body {
    padding: 0px;
  }
  .shadow-sm {
    // box-shadow: 0 0 0.5rem rgb(17 17 17 / 70%) !important;
    width: 100%;
    border: 1px solid #eee;
    min-height: 145px;
    background-color: $color-light-gray;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }
  .panel-titleTxt {
    color: $color-light-gray-40;
    font-weight: 500;
    font-size: 18px;
    margin-left: 10px;
  }
  .mg-15 {
    margin-left: 8px;
  }
}
