<app-nv-header></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<br />

<div class="row mg-0">
  <div
    class="panel-slide col-md-4"
   
    *ngIf="showPanel1"
  >
  <app-nv-slider-common-panel
  panelNum="1"
  panelTitle="Panel1"
  (close)="closePanel('1')"
  (panelClick)="panelClicked('1')">
  Panel1
</app-nv-slider-common-panel>
  </div>

  <div
    class="style-right panel-slide col-md-4"
    *ngIf="showPanel2"
    
  >
    <app-nv-slider-common-panel
      panelNum="2"
      panelTitle="Panel2"
      panelSaveBtn="updateUserData"
      (close)="closePanel('2')"
      (panelClick)="panelClicked('2')">
      Panel2
    </app-nv-slider-common-panel>
  </div>
  <div class="col-md-4 style-left panel-slide" *ngIf="showPanel3" 
  >
    <app-nv-slider-common-panel
      panelNum="3"
      panelTitle="Panel3"
      (close)="closePanel('3')"
      (panelClick)="panelClicked('3')">
      Panel3
  </app-nv-slider-common-panel>
  </div>
  <div class="col-md-4 style-left panel-slide" *ngIf="showPanel4">
    <app-nv-slider-common-panel
      panelNum="4"
      panelTitle="Panel4"
      (close)="closePanel('4')"
      (panelClick)="panelClicked('4')">
      Panel4
  </app-nv-slider-common-panel>
  </div>
</div>
<br />
<app-nv-footer class="footer"></app-nv-footer>
