@import './../../reusable/theme/base.scss';

.container-fluid {
  padding: 0;
  margin: 0;
  border-bottom: 4px solid $color-dark-gray;

  .nova-icon {
    padding-left: $padding-16;
    width: 160px;
    height: 40px;
  }

  .search-container {
    width: 40%;

    .search {
      width: 50%;
    }
  }

  .avatar-container {
    padding-right: 16px;
    padding-left: 24px;
    border: 4px solid transparent;
  }

}

@media (max-width: 576px) {
  .search {
    display: none;
   }
}
