<div class="dropdown checklist-dropdown-container">
  <label *ngIf="label" for="input" class="field-label h50" nvTextColor [color]="labelStatus">{{label}}</label>
  <mat-form-field #default class="form-field dropdown-toggle" data-toggle="dropdown" nvStyleColor
  [style]="fieldStyle">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of items" [selectable]="selectable" [removable]="removable" (removed)="remove(item)">
        {{item}}
        <mat-icon matChipRemove *ngIf="removable"></mat-icon>
      </mat-chip>
      <input multiline #itemInput [matChipInputFor]="chipList" [formControl]="itemCtrl" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (click)="onFieldClick()" (blur)="onBlur()">
    </mat-chip-list>
    <ng-container [ngTemplateOutlet]="arrowTemplate" [ngTemplateOutletContext]="{isArrowDown:isArrowDown}">
    </ng-container>
  </mat-form-field>

  <div class="dropdown-menu">
    <ng-container [ngTemplateOutlet]="treeViewTemplate"></ng-container>
  </div>

</div>


<ng-template #treeViewTemplate>
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
        (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
        (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    </mat-tree-node>
  </mat-tree>

</ng-template>

<ng-template #arrowTemplate let-item="isArrowDown">
  <div class="arrow-icon-container" [ngClass]="{'no-item': !hasItem}">
    <img *ngIf="isArrowDown" class="arrow-icon" src="{{arrowIcons?.downward}}" alt='Arrow' nvSvgColor
    [svgElementId]="svgIconIdsDic.arrowDownPath" [color]="fieldStatusColorDic.disable"
    [isDirectiveEnable]="isFieldDisable">
    <img *ngIf="!isArrowDown && !isFieldDisable" class="arrow-icon" src="{{arrowIcons?.upward}}" alt='Arrow'>
  </div>
</ng-template>

