<app-nv-header></app-nv-header>
<app-nv-sub-menu></app-nv-sub-menu>
<br />

<div class="row mg-0 userListHeight" #panelDivHeight>
  <div
    class="panel-slide col-md-4"
    [ngClass]="{
      'col-md-12': showPanel == '1',
      'col-md-8': showPanel == '2',
      'col-md-4': showPanel == '3'
    }"
    *ngIf="showPanel1"
  >
    <app-nv-table-panel
      (close)="closePanel('1')"
      panelNum="1"
      (panelClick)="panelClicked('1')"
      [panelTableHeight]="panelTableHeight"
      [onlyFirstPanel] = "showPanel1 && !showPanel4 && !showPanel2 && !showPanel3"
    ></app-nv-table-panel>
  </div>

  <div
    class="style-right panel-slide col-md-4"
    *ngIf="showPanel2"
    [ngClass]="{
      'col-md-8': (!showPanel1 && !showPanel4) && showPanel2 && showPanel3      
    }"
  >
    <app-nv-slider-panel
      panelNum="Users"
      [panelTitle]="title"
      panelSaveBtn="updateUserData"
      (close)="closePanel('2')"
      (panelClick)="panelClicked('2')"
    >
      <app-nv-user-view [panelTableHeight]="panelTableHeight"></app-nv-user-view>
    </app-nv-slider-panel>
  </div>
  <div class="col-md-4 style-left panel-slide" *ngIf="showPanel3" 
  >
    <app-nv-slider-panel
      panelNum="Teams"
      panelTitle="Teams Panel"
      (close)="closePanel('3')"
      (panelClick)="panelClicked('3')"
      [panelTableHeight]="panelTableHeight"
    ><app-nv-third-panel [columns]="columns" [oData]="orders"></app-nv-third-panel>
  </app-nv-slider-panel>
  </div>
  <div class="col-md-4 style-left panel-slide" *ngIf="showPanel4">
    <app-nv-slider-panel
      panelNum="4"
      (close)="closePanel('4')"
      (panelClick)="panelClicked('4')"
    >
  <app-nv-common-table [columns]="columns" [oData]="orders"></app-nv-common-table>
  </app-nv-slider-panel>
  </div>
</div>
<br />
<app-nv-footer class="footer"></app-nv-footer>
