<div>
      <div class="search-bar">
        <div class=" shadow-sm-dark-left dp-inline">
            <app-nv-search class="search" [isAdvance]="isAdvance" [hideMenu]="hideMenu" [list]="tableTestData"
        [searchableRefList]="searchableRefList" (filteredItems)="onItemsFilter($event)"></app-nv-search> 
        </div>
        <div class=" shadow-sm-dark-right dp-inline mr-lt-1">
            <app-nv-dropdown></app-nv-dropdown>
        </div>
        <div class="dp-inline btn-right">
            <app-nv-button label="New" class="mr-rt-1"></app-nv-button>
            <app-nv-button label="Edit"></app-nv-button>
        </div>
    </div>
    
</div>
