<!-- <custom-table
  [tableData]="customers"
  [tableColumns]="customersTableColumns">
</custom-table> -->
<app-custom-datatable
              [tableData]="orders"
              [tableColumns]="ordersTableColumns"
              [isFilterable]="true"
              [isPageable]="true"
              [paginationSizes]="[2,4,6]"
              [defaultPageSize]="4"
              (sort)="sortData($event)"
              (rowAction)="removeOrder($event)"
              >
              <!-- [rowActionIcon]="'remove_shopping_cart'" -->
</app-custom-datatable>