@import "../../../reusable/theme/base.scss";

.card-style{
    margin: 1%;
    border-radius: 5px;
    border-radius: 4px;
}

.section-style{
    padding-top: 1%;
    color:rgb(206, 180, 180);
    border-radius:5px;
}

.row-style{
    width: 98% !important;
    margin: 0 auto !important;
    display: inline-block !important;
}

.card-border{
    border: 3px solid lightgray;
    border-radius:5px;
    padding: 3%;
}

.pd-lt-5{
    padding-left: 2.5%;
    margin-top: -1%;
}
.mg_0_10 {
    margin: 5px 20px !important;
}

.mr-tp-3{
    margin-top: 3%;
}

h5{
    font-size: 14px !important;
    color:$color-dark-gray-70;
}

p{
    color: $color-dark-gray-70;
}