.card-style{
    margin: 1%;
    border-radius: 5px;
}

.section-style{
    padding-top: 1%;
    color:lightgray;
    border-radius:5px;
}

.row-style{
    width: 98% !important;
    margin: 0 auto !important;
    display: inline-block !important;
}

.card-border{
    border: 3px solid lightgray;
    border-radius:5px;
    padding: 3%;
}

.pd-lt-5{
    padding-left: 2.5%;
    margin-top: -1%;
}
.mg_0_10 {
    margin: 0px 10px !important;
}

.mr-tp-3{
    margin-top: 3%;
}

h5{
    font-size: 14px !important;
    color:darkgrey;
}

p{
    color: darkgrey;
}