<div class="form-group" id="input_container">
    <label for="name" class="control-label label-weight">{{label}}</label>
    <label for="forgotuser" (click)='emitEvent(secondaryLabel)'  class="control-label forgot-user">{{secondaryLabel}}</label>
    <input [type]='inputType' [disabled]='disableInput' [ngClass]="status" class="form-control" [placeholder]='inputPlaceHolder'
        autocomplete="off" required  [ngModel]="sharedVar" (ngModelChange)="change($event)">
        <span id="input_img">
            <i *ngIf="status == 'is-valid'" class="fa fa-check-circle sucess-check"></i>
            <i *ngIf="status == 'is-invalid'" class="fa fa-exclamation-circle danger-check" aria-hidden="true"></i>
        </span>
</div>