<!--third-placeholder--> 
<div class="border">
  <div class="row">
    <div class="col-12">
      <div class="row pad-10">
        <div class="col-2">
          <img
            src="https://via.placeholder.com/100x100"
            alt="#"
            class="mr-3  large-round"
            style="width: 200px"
          />
        </div>
        <div class="col-10">
          <div class="media-body align-self-center banner-text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel
              ipsum aliquam metus facilisis scelerisque. Quisque vitae
              condimentum nulla. Vestibulum lobortis ullamcorper augue id
              consequat. Orci varius natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Phasellus at aliquet
              dui. Mauris dapibus lectus id laoreet iaculis. Duis auctor augue
              augue, eget lobortis quam auctor at.
            </p>
  
          </div>
        </div>
      </div>
  
    </div>
  </div> 