 <!--first placeholder-->
 <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-1">
          <img
            src={{smallCardData.img}}
            alt="#"
            class="mr-3 rounded small-round"
            style="width: 100px"
          />
        </div>
        <div class="col-11">
          <div class="media-body align-self-center">
            <h4>
              My Name <small><i>{{smallCardData.text1}}</i></small>
            </h4>
            <p>
              My Name <small><i>{{smallCardData.text2}}</i></small>
            </p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="flex-column flex-md-row">
            <p>
              {{smallCardData.description}}
            </p>
          </div>
        </div>
      </div>
