@import './../theme/base.scss';
.avatar-container {
  position: relative;
  display: grid;
  grid-template-columns: 40px 23px;
  width: 63px;
  height: 46px;

  .image-container {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: 50%;
    }

    .label {
      width: auto;
      height: auto;
      font-size: $font-size-x-large;
    }
  }
  .avatar-menu {
    position: relative;
    display: grid;
    grid-template-rows: 17px 1fr 4.7px;
    .notification {

    }
    .dropdown-container {
        .chevron {
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: center;
            width: 8.28px;
            height: 4.7px;
            padding-left: 3.72px;
            background-color: $color-dark-gray-02;
          }

    }
  }
}
