/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./../src/app/reusable/theme/base.scss";

html, body { height: 100%; }
body { margin: 0; font-family: "Lato", Roboto, "Helvetica Neue", sans-serif;  overflow-y: auto;}

.ngx-pagination .pagination-previous a::before, .ngx-pagination .pagination-previous.disabled::before {
    
    content: url(./assets/icons/paginationLeft.icon.svg) !important;
    font-size: 25px !important;
    position: relative;
    top: 1px;
  }
  
  .ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after {
    
    content: url(./assets/icons/paginationRight.icon.svg) !important;
    font-size: 25px !important;
    position: relative;
    top: 1px;
}

.ngx-pagination .disabled {
  padding: 0.1875rem 0.625rem;
  color: #999C9E !important;
  cursor: default;
  font-size: 16px;
  margin-right: 17px;
}

ul.ngx-pagination.responsive {
  padding-left: 17px;
}

.mb3 {
  margin-bottom: 3px;
}