<div class="container-fluid" id="myNavbar">
    <div class="row">
        <div class="col-6">
            <ul class="list-inlin">
                <li>@2021 All Rights Reserved <a href="#">ntint@com</a></li>
                <li>Language: <a href="#"><i class="fab fa-youtube"></i>
                </a></li>
            </ul>
        </div>
        <div class="col-6">
            <ul class="list-inlin " style="float: right;">
                <li>User:<a href="#">John Smith </a></li>
                <li>| Site: <a href="#">New Jersey</a></li>
                <li>Database: <a href="#">Production</a></li>
            </ul>
        </div>
    </div>
</div>