@import "../../reusable/theme/base.scss";

div#myNavbar {
  position: fixed;
  bottom: 0px;
  width: 94%;
  background: $color-light-gray;
  padding: 15px;
  margin-bottom: 0;
  border: 1px solid $colo-light1-gray;
  .list-inlin li {
    display: inline-block;
    margin-bottom: 0 !important;
    font-size: $font-size-xx-small;
    font-weight: 400;
    a {
      padding: 0 5px;
      color: $color-light-gray-40;
      font-size: $font-size-xx-small;
      font-weight: 500;
    }
    & .link-txt {
      color: $color-light-blue-40;
      margin-left: 5px;
    }
  }
}

ul.list-inlin {
  margin-bottom: 0px;
}
