@import '../../reusable/theme/base.scss';

div#myNavbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: $color-light-gray;
    padding: 9px 15px;
    margin-bottom: 0;
    border: 1px solid $colo-light1-gray;
    .list-inlin li {
        display: inline-block;
        margin-bottom: 0 !important;
        font-size: $font-size-xx-small;

        a {
          padding: 0 5px;
          color: $color-dark-blue-12;
          font-size: $font-size-xx-small;
      }
      }
}

ul.list-inlin {
    margin-bottom: 0px;
}