<div class="">
  <div class="row" style="margin-left: -3px">
    <div class="cpl-sm-6">
      <div class="search-container">
        <app-nv-search
          class="search"
          [isAdvance]="isAdvance"
          [hideMenu]="hideMenu"
          [list]="tableTestData"
          [searchableRefList]="searchableRefList"
          (filteredItems)="onItemsFilter($event)"
        ></app-nv-search>
      </div>
    </div>
    <div class="cpl-sm-2">
      <app-nv-button
        label="Add"
        class="mr-rt-1"
        (buttonClick)="add()"
        [disableButton]="disableAddButton"
      ></app-nv-button>
    </div>
    <div class="cpl-sm-2">
      <app-nv-button
        label="Edit"
        class="mr-rt-1"
        (buttonClick)="edit()"
        [disableButton]="disableEditButton"
      ></app-nv-button>
    </div>
    <div class="cpl-sm-2" *ngIf="showDeleteBtn">
      <app-nv-button
        label="Delete"
        class="mr-rt-1"
        (buttonClick)="delete()"
      ></app-nv-button>
    </div>
    <div class="cpl-sm-2" *ngIf="!showDeleteBtn">
      <app-nv-button
        label="Undo"
        class="mr-rt-1"
        (buttonClick)="undo()"
      ></app-nv-button>
    </div>
  </div>
</div>

<div class="header">
  <app-nv-input
    class="text-color"
    [(sharedVar)]="name"
    [inputPlaceHolder]="placeholder"
    [label]="nameLabel"
    [status]="nameValidation"
    [disableInput]="disableInput"
    (keypress)="keyPress()"
  ></app-nv-input>

  <app-nv-input
    class="text-color"
    [(sharedVar)]="id"
    [inputPlaceHolder]="placeholder"
    [label]="idLabel"
    [status]="idValidation"
    [disableInput]="disableInput"
    (keypress)="keyPress()"
  ></app-nv-input>
</div>

<div>
  <div class="table-scroll">
    <table class="data-table" mdbTable>
      <tr class="mat-header-row">
        <th class="mat-header-cell">
          <input
            class="table-check"
            type="checkbox"
            [checked]="isAllCheckBoxChecked()"
            (change)="checkAllCheckBox($event)"
          />
        </th>
        <th (click)="rowClicked($event)" scope="col" class="mat-header-cell" class="table-header" [ngClass]="{ 'sorted-text': isNameSorted }" >
          {{ columns[0] }}
          <span>
            <mat-icon class="img" *ngIf="sortPreference == 'ascending'"
              ><img
                src="../../../assets/icons/ico.table.sort.up.svg"
                class="sort-icon-width"
                (click)="rowImgClicked($event, 'ascending', 'name')"
                alt="asc"
            /></mat-icon>
            <mat-icon class="img" *ngIf="sortPreference == 'descending'"
              ><img
                src="../../../assets/icons/ico.table.sort.down.svg"
                class="sort-icon-width"
                (click)="rowImgClicked($event, 'descending', 'name')"
                alt="dec" /></mat-icon
          ></span>
        </th>
        <th (click)="rowClicked($event)" scope="col" class="mat-header-cell"  class="table-header" [ngClass]="{ 'sorted-text': isIdSorted }">
          {{ columns[1] }}
          <span>
            <mat-icon class="img" *ngIf="sortPreference == 'ascending'"
              ><img
                src="../../../assets/icons/ico.table.sort.up.svg"
                class="sort-icon-width"
                (click)="rowImgClicked($event, 'ascending', 'id')"
                alt="asc"
            /></mat-icon>
            <mat-icon class="img" *ngIf="sortPreference == 'descending'"
              ><img
                src="../../../assets/icons/ico.table.sort.down.svg"
                class="sort-icon-width"
                (click)="rowImgClicked($event, 'descending', 'id')"
                alt="dec" /></mat-icon
          ></span>
        </th>
      </tr>
      <tr
        class="mat-row"
        [ngClass]="{
          'status-gr': order.status === 'Completed',
          'status-rd': order.status === 'No',
          'status-white': order.status === 'Pending',
          'status-ed': order.status === 'Edited',
          'status-clicked': order.status === 'Clicked'
        }"
        *ngFor="
          let order of orders
            | paginate
              : {
                  id: 'oList',
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index
        "
      >
        <td class="pd-lt-2 checkbox-column">
          <input
            class="table-check"
            type="checkbox"
            value="{{ order.id }}"
            [(ngModel)]="orders[i].checked"
            (click)="checkBoxClicked(order, i)"
          />
        </td>
        <td
          (click)="clickedRow(order, i)"
          [matTooltip]="order.tooltipText"
          matTooltipPosition="below"
          matTooltipClass="custom-tooltip"
        >
          {{ order.name }}
        </td>
        <td (click)="clickedRow(order, i)">
          {{ order.id }}
        </td>
      </tr>
    </table>
  </div>
</div>
